/* HostelInfo.css */

.hostel-info-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .hostel-info-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .hostel-info-content {
    line-height: 1.5;
  }
  