/* ManageStudents.css */

.manage-students-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .manage-students-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .manage-students-list {
    list-style-type: none;
    padding: 0;
  }
  
  .manage-students-item {
    margin-bottom: 10px;
  }
  
  .manage-students-item label {
    font-weight: bold;
  }
  
  .manage-students-item span {
    margin-left: 10px;
  }
  